.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    width: 95%;
    margin-left: 5%;
}



h1 {
    text-align: center;
    color: black;

}

.filters input {
    margin: 5px;
    margin-bottom: 2%;
    padding: 5px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.tableWrapper {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; 
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.table th {
    background-color: #00B37E;
    color: black;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #c8f7ca;
}

.linhaEditar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoEditar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonEdit {
    display: flex;
    align-items: center;
    justify-content: center; /* Alinha o ícone no centro */
    background-color: #FF9800;
    color: #fff;
    border: none;
    padding: 8px; /* Tamanho de padding ajustado para que fique redondo */
    border-radius: 50%; /* Faz o botão ficar redondo */
    cursor: pointer;
    font-size: 16px;
    width: 50px; /* Define a largura do botão */
    height: 50px; /* Define a altura do botão, igual à largura para ser um círculo */
    transition: all 0.3s ease;
}

.buttonEdit:hover{
    background-color: #FF9800;
    transform: scale(1.05s);
    color: black;
}

.icon {
    font-size: 1.2rem;
    color: #000; /* Mudança da cor do ícone */
}

.pagination {
    display: flex;
    justify-content: flex-end;  /* Alinha os botões na horizontal, à direita */
    align-items: center;
    width: 15%;
    gap: 10px;
    bottom: 20px;  /* Ajuste da distância do fundo */
    right: 10px;  /* Ajuste da distância da borda direita */
    background: white;
}

.pagination button {
    background-color: #ccc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 2px; /* Ajuste do tamanho do botão */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 8%;
}

.pagination button:hover {
    background-color: #00B37E;
    transform: scale(1.05);
}

.pagination button:active{
    background-color: #00B37E;
}

.pagination button:disabled, .disabledButton {
    background-color: #00B37E;
    cursor: not-allowed;
}

.active {
    background-color: #00B37E;
    color: white;
    font-weight: bold;
}
/* .activePage {
    background-color: #00B37E;
    font-weight: bold;
    pointer-events: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
} */

@media (max-width: 600px) {
    .pageButton {
        padding: 2px 4px;
        font-size: 0.6rem;
    }

    .filters input {
        width: 100%;
        margin: 5px 0;
    }

    .pagination {
        margin-right: 5px;
    }
}